<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label "Фамилия" %><br/>
      <%= f.text_field :student_surname %>
    </div>
    <div class="field">
      <%= f.label "Имя" %><br/>
      <%= f.text_field :student_name %>
    </div>
    <div class="field">
      <%= f.label "Отчество" %><br/>
      <%= f.text_field :student_secondname %>
    </div>
    <div class="field">
      <%= f.label "Группа" %><br/>
      <%= f.text_field :student_group %>
    </div>
    <div class="field">
      <%= f.check_box :student_captain %>
      <%= f.label "Староста" %>
    </div>

  <div class="actions">
    <%= f.submit "Добавить студента" %>
  </div>
<% end %>


