<h1>Список групп</h1>

<table>
  <tr>
    <th>Шифр</th>
    <th>Специальность</th>
    <th>Курс</th>
    <th>Численность студентов</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.gr_cephir %></td>
    <td><%= group.gr_specialty %></td>
    <td><%= group.gr_course %></td>
    <td><%= group.gr_quantity %></td>
    <td><%= link_to 'Посмотреть', group %></td>
    <td><%= link_to 'Редактировать', edit_group_path(group) %></td>
    <td><%= link_to 'Удалить', group, confirm: 'Действительно удалить?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
