<h1>Список преподавателей</h1>

<table>
  <tr>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отччество</th>
    <th>Кафедра</th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.teach_surname %></td>
    <td><%= teacher.teach_name %></td>
    <td><%= teacher.teach_secondname %></td>
    <td><%= teacher.teach_cathedra %></td>
    <td><%= link_to 'Посмотреть', teacher %></td>
    <td><%= link_to 'Редактировать', edit_teacher_path(teacher) %></td>
    <td><%= link_to 'Удалить', teacher, confirm: 'Действительно удалить?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить преподавателя', new_teacher_path %>
